<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>デジタルポチ袋</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <h1>ファイルをポチ袋に入れてね</h1>

        <div id="pochi-zone" class="envelope">
            <div class="flap"></div>
            <div class="body-front">
                <div class="noshi"></div>
                <div class="mizuhiki">
                    <div class="knot"></div>
                </div>
                <div class="pocket">
                    <span class="message">ここにファイルを<br>いれてね</span>
                </div>
            </div>
        </div>

        <div id="status"></div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>